/* 
    @name footer.css 
    @date 2023 02 20
    @purpose Footer style sheet.
 */


footer { 
	height: 100%;
	padding: calc(var(--defaultPadding)* 1.5px);
	display: flex; 
	transform: translate(0, calc(50% + 1.00vw));
	flex-direction: row; 
	align-items: center;
	justify-content: center
}

footer p {
	font-size: calc(0.88rem + 0.15vw);
	line-height: 1.24;
}

footer > section > a { 
	margin: 4px; 
}

footer > section { 
/*	padding: calc(var(--defaultPadding) * 2.5 );*/
}
