/* 
    @name main.css 
    @date 2023 02 20
    @purpose Main style sheet.
 */
:root {
	--defaultPadding: 24px;
	--neoBlack: rgb(19,20,21);
	--neoCanvas: rgb(253,255, 245);
	--neoMatrix: rgb(140,255,165);
	--defaultTypeface: "Public Sans", "Arial", "Helvetica", sans-serif;
	--testBorder: 1px solid black;
}

body {
	padding: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: var(--defaultTypeface);
	color: var(--neoBlack);
	text-align:center;
	background: var(--neoCanvas);
	box-sizing: content-box;
	overflow: scroll;
	-webkit-backface-visibility: hidden;
}

main {}

#body_message {
	text-align: center;
	font-size: calc(1.24rem + 0.24vw);
	line-height: 1.24;
	padding-left: 8px;
	padding-right: 8px;
}

.dialog_button {
	font-family: var(--defaultTypeface);
	font-weight: 500;
	width: auto;
	border: 2px solid var(--neoBlack);
	color: var(--neoBlack);
	border-radius: 4px;
	padding: 4px;
	margin: 12px;
	background: none;
	cursor: pointer;
}

.dialog_box {
	position: fixed;
	inset-block-start: 50%;
	inset-inline-start: 50%;
	font-size: calc(1rem + 0.15vw);
	opacity: 97%;
	z-index:10;
	background: var(--neoMatrix);
	color: var(--neoBlack);
	text-align: center;
	padding: calc(var(--defaultPadding) + .50vw);
	display: flex;
	transform: translate(-50%, -50%);
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	width: calc(372px + 1.25vw);
	height: calc(348px + 1.25vh);
	border:0px solid var(--neoBlack);
}
.close_window { 
	visibility: hidden; 
}

h1 { 
	font-size: 1.00rem;
	font-weight: 800;
}

.clock {
	display:flex;
	flex-direction: column;
	vertical-align: baseline;
	align-items: center;
	justify-content: center;
	border: var(--testBorder);
}
#clock_text {
	transform: translate(0, 760%);
}
#clock{
	transform: translate(0, 15%);
	font-size: calc(6.64rem + 4.24vw);
	font-weight: 125;
	line-height: 0.88;
}

.headline_and_clock_flex{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.headline_and_clock_flex > section {
	height: 100%;
	width: 100%;
}
.headline_and_clock {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: auto;
}

#nav_instruction {
	font-size:calc(0.80rem + 0.15vw);
}

#nav_instruction:hover {
	text-decoration: underline;
	cursor: help;
}

.top_nav {
	overflow: scroll;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

@media screen and (max-width: 675px){
	.top_nav > section {
		display:grid;
		grid-template-rows: repeat(1, 1fr);
		align-items: center;
		justify-content: center;
	}
}

@media screen and (max-height:520){
	.headline_and_clock{}
}

#icon_img {
	max-width: calc(15% + 0.20vw);
	max-height: calc(15% + 0.20vh);
}

@keyframes rotate {
	0%{
		transform: rotate(-360deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

code {
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	font-size: calc(0.72rem + 0.10vw);
}




#tagline {
	transform: translate(0, 50%);
	font-size: calc(1.32rem + 1.24vw);
	font-weight: 500;
	line-height: 0.88;

}
#headline{
	animation: 2.24s ease-in 1 fadeup;
}

@keyframes fadeup {
	from { opacity:0%; }
	to { opacity: 100%; }
}

p {
	line-height: 1.08;
}


hr {
	border: 2px solid inherit;
}


a:link{ 
	text-decoration: underline; 
	color: inherit; 
}

a:visited{ 
	color: gray; 
}

a:focus{}

a:hover{ 
	text-decoration: overline; 
}

a:active{ 
	color: inherit; 
}
