/* 
    @name footer.css 
    @date 2023 02 20
    @purpose Footer style sheet.
 */
footer { 
	display: flex; 
	position: fixed;
	flex-direction: row; 
	z-index: -1;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
	width: 100%;
	left: 0;
	bottom: 0;
}
footer p {}
footer > section > a { 
	margin: 8px; 
}
footer > section { 
	padding: calc(var(--defaultPadding) * 2.5 );
}
