/* 
    @name main.css 
    @date 2023 02 20
    @purpose Main style sheet.
 */
:root {
	--defaultPadding: 24px;
	--neoBlack: rgb(19,20,21);
	--neoCanvas: rgb(253,254, 255);
	--neoMatrix: rgb(140,255,165);
}

body { 
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	font-family: "Public Sans", sans-serif; 
	color: var(--neoBlack);
	text-align:center;
	background: var(--neoCanvas);
	box-sizing: content-box;
}

#window_open_for {
	text-align: center;
	vertical-align: baseline;
}
#body_message {
	text-align: center;
	font-size: calc(1.24rem + 0.24vw);
	line-height: 1.24;
	padding-left: 8px;
	padding-right: 8px;
}

.dialog_button {
	font-family: 'Public Sans', sans-serif; 
	font-weight: 500;
	width: auto;
	border: 2px solid var(--neoBlack);
	color: var(--neoBlack);
	border-radius: 4px;
	padding: 4px;
	margin: 12px;
	background: none;
	cursor: pointer;
}
.dialog_box_wrapper {
	position: fixed;
	top:0;
	left:0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.dialog_box {
	font-size: calc(1rem + 0.15vw);
	opacity: 97%;
	z-index:10;
	background: var(--neoCanvas);
	color: var(--neoBlack);
	text-align: left;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 420px;
	height: 360px;
	border: 4px solid var(--neoBlack);
}



main{ 
	height: 100vh;
}

h1 { 
	font-size: 1.00rem;
	font-weight: 800;
}

.headline_and_clock {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80vh;
}

.top_nav section {
	margin: 36px;
}

.top_nav {
	padding: calc(var(--defaultPadding)+0.25vw);
	display: flex;
	width: auto;
	flex-wrap:wrap;
	height: auto;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
@media screen and (max-width: 675px){
	.top_nav > section {
		display:grid;
		grid-template-rows: repeat(1, 1fr);
		align-items: center;
		justify-content: center;
	}
}

#icon_img {
	position: relative;
	max-width: calc(10% + 0.25vw);
	max-height: calc(10% + 0.25vh);
}

@keyframes rotate {
	0%{
		transform: rotate(-360deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

code {
	text-transform: uppercase;
	font-size: calc(0.84rem + 0.10vw);
}

#clock{
	font-size: calc(4.64rem + 6.25vw);
	font-weight: 125;
	line-height: 0.88;
}

#headline{
	font-size: calc(1.72rem + 1.24vw);
	font-weight: 500;
	line-height: 0.88;
	animation: 2.24s ease-in 1 fadeup;
}
@keyframes fadeup {
	from {
		opacity:0%;
	}

	to {
		opacity: 100%;
	}
}

p {
	line-height: 1.08;
}

#disclaimer {
	font-weight:600;
}

header {  
	text-align: left;
	padding: 36px;
	width: auto;
	display: flex; 
	align-items: baseline;
	justify-content: baseline;
	flex-direction: column; 	
}

hr {
	border: 2px solid inherit;
}


a:link{ 
	text-decoration: underline; 
	color: inherit; 
}

a:visited{ 
	color: gray; 
}

a:focus{}

a:hover{ 
	text-decoration: overline; 
}

a:active{ 
	color: inherit; 
}
