/* Date last modified: 2023 02 20*/
/* main.css */
/* Stylesheet for a main styling. */
:root {
	--defaultPadding: 24px;
	--neoBlack: rgb(19,20,21);
	--neoCanvas: rgb(253,254, 255);
}
#body_message {
	text-align: center;
	font-size: 1.24rem;
	line-height: 1.24;
	padding-left: 8px;
	padding-right: 8px;
}

.dialog_button {
	font-family: 'Public Sans', sans-serif; 
	font-weight: 500;
	width: auto;
	border: 2px solid var(--neoBlack);
	font-size: 1rem;
	color: var(--neoBlack);
	border-radius: 4px;
	padding: 4px;
	margin: 12px;
	background: none;
	cursor: pointer;
}
.dialog_box_wrapper {
	position: fixed;
	top:0;
	left:0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.dialog_box {
	opacity: 94%;
	z-index:10;
	background: var(--neoCanvas);
	color: var(--neoBlack);
	text-align: left;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 420px;
	height: 360px;
	border: 4px solid var(--neoBlack);
}

body { 
	top: 0;
	left: 0;
	font-family: 'Public Sans', sans-serif; 
	color: var(--neoBlack);
	text-align:center;
	background: var(--neoCanvas);
	box-sizing: content-box;
}

main{ 
	height: 100vh;
}

h1 { 
	font-size: 1.00rem;
	font-weight: 800;
}

.headline_and_clock {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80vh;
}

.top_nav section {
	margin: 36px;
}

.top_nav {
	padding: var(--defaultPadding);
	display: flex;
	width: auto;
	flex-wrap:wrap;
	height: auto;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#icon_img {
	position: relative;
	max-width: 20%;
	max-height: 20%;
}

@keyframes rotate {
	0%{
		transform: rotate(-360deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

code {
	text-transform: uppercase;
	font-size: 0.72rem;
}

#clock{
	font-size: 9.36rem;
	font-weight: 125;
	line-height: 0.88;
}

#headline{
	font-size: 1.44rem;
	font-weight: 420;
	line-height: 0.88;
}

p {
	line-height: 1.08;
}

footer p {

}

#disclaimer {
	font-weight:600;
}

header {  
	text-align: left;
	padding: 36px;
	width: auto;
	display: flex; 
	align-items: baseline;
	justify-content: baseline;
	flex-direction: column; 	
}

footer { 
	position: fixed;
	display: flex; 
	flex-direction: row; 
	z-index: -1;
	align-items: center;
	justify-content: center;
	text-align: left;
	width: 100vw;
	left: 0px;
	bottom: 0px;
	padding: var(--defaultPadding);
}

hr {
	border: 2px solid inherit;
}

footer > section > a { 
	margin: 8px; 
}

footer > section { 
	padding: calc(var(--defaultPadding) * 2.5 );
}

a:link{ 
	text-decoration: underline; 
	color: inherit; 
}

a:visited{ 
	color: gray; 
}

a:focus{}

a:hover{ 
	text-decoration: overline; 
}

a:active{ 
	color: inherit; 
}
