.modal {
  display: none;
  position: fixed; 
  inset-block-start: 50%;
  inset-inline-start: 50%;
  font-size: calc(1rem + 0.15vw);
  opacity: 97%;
  z-index: 1; 
  overflow: auto; 
  color: var(--neoBlack);
  background: var(--neoCanvas);
  text-align: center;
  padding: calc(var(--defaultPadding) + .50vw);
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border:4px solid var(--neoBlack);
  width: calc(50% + 1.25vw);
  height: calc(50% + 1.25vh);
}

#form_input {
	font-family: "Menlo", monospace;
	border: 2px solid var(--neoBlack);
	font-size: 1.00rem;
	color: var(--neoBlack);
	border-radius: 4px;
	background: none;
	width: auto;
}

.modal_button {
	font-family: 'Public Sans', sans-serif; 
	font-weight: 500;
	width: auto;
	border: 2px solid var(--neoBlack);
	font-size: 1.00rem;
	color: var(--neoBlack);
	border-radius: 4px;
	background: none;
}

.modal_button {
	transition: all 0.96s;
    box-shadow: 0 2px 8px rgba(32,32,32 0.2);
}

.modal_button:hover {
    animation: 2.88s ease-in infinite pulse;
    box-shadow: 0 10px 20px rgba(32,32,32 0.2);
    cursor: pointer;
}

.model_content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: inherit;
	background: inherit;
	padding: calc(20px + 1.25vw);
	width: auto;
}

.appointment_form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
	color: inherit;
	background: inherit;
	width: auto;
}

label {
	font-family: "Menlo", monospace;
	text-transform: uppercase;
	font-size: calc(0.88rem + 0.00vw);
}

.appointment_form > section {
	display: flex;
	margin: 8px;
	flex-direction: column;
	gap: 8px;
	align-items: flex-start;
	justify-content: space-evenly;
}

#close_modal {
	position: absolute;
	top: 20px;
	left: 20px;
	color: var(--neoBlack);
	float: right;
	font-size: 2rem;
}

#close_modal:hover,
#close_modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}