/* Date last modified: 2023 02 20*/
/* pulsing_button.css */
/* Stylesheet for a pulsing button. */

.pulsing_button {
	transition: all 0.96s;
    box-shadow: 0 2px 8px rgba(32,32,32 0.2);
}

.pulsing_button:hover {
    animation: 2.24s ease-in infinite pulse;
    box-shadow: 0 10px 20px rgba(32,32,32 0.2);
    cursor: pointer;
}

button {
	font-family: 'Public Sans', sans-serif; 
	font-weight: 500;
	width: auto;
	border: 2px solid var(--neoBlack);
	font-size: 1.00rem;
	color: inherit;
	border-radius: 4px;
	padding: 8px;
	margin: 12px;
	background: none;
}

@keyframes pulse{
	0%{
		transform: scale(1.1);
	}
	100%{
		transform: scale(0.8);
	}
}